<footer class="border-top border-3 border-primary">
    <div class="container text-center">
    <h2 class="fs-8 py-7 py-lg-8">© 7TAO七逃. All Rights Reserved</h2>
</div>
</footer>

<script type="module" src="../main.js"></script>