<div class="modal modal-md fade" id="join-member-modal" tabindex="-1" aria-labelledby="joinMemberModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title title-second-font fs-5 fw-bold mx-auto" id="joinMemberModalLabel">立刻成為7TAO會員</h1>
                <button type="button" class="btn-close ms-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center py-8 p-lg-11">
                <p class="mb-7">
                    立刻成為七逃會員，加速活動報名流程並取得活動優惠資訊。
                    <br>
                    您也可以先報名活動，日後再註冊帳號，
                    <br>
                    系統會在認證您的Email後，協助您找回舊的訂單。
                </p>
                <button type="button" class="btn btn-primary py-2 fs-6 fw-bold">立即成為會員</button>
            </div>
        </div>
    </div>
</div>