<nav class="navbar navbar-expand-lg py-3 py-lg-7 mb-5 mb-lg-8 position-relative">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center w-100">
            <div class="d-flex align-items-center">
                <h1>
                    <a href="index.html" class="d-flex align-items-center">
                        <img src="../assets/images/logo.png" alt="7tao-Logo">
                        <span class="d-none d-md-flex align-items-center ms-5 fs-4 title-font">7TAO
                            <span class="ms-1 fs-8 title-second-font">活動訂票網</span>
                        </span>
                    </a>
                </h1>
                <label class="position-relative ms-7 ms-lg-10">
                    <input type="search" class="form-control border border-2 border-primary py-2 py-lg-3 bg-transparent"
                        placeholder="探索活動">
                    <a href="#">
                        <i class="icofont-search-1 fs-8 fs-lg-7 text-secondary bg-primary p-4 p-lg-5 position-absolute top-0 end-0">
                        </i>
                    </a>
                </label>
            </div>
            <button class="navbar-toggler rounded-2 border-primary ms-7 ms-sm-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav fs-7 pt-6 pb-3 mt-5 mt-lg-0">
                <li class="nav-item mb-5 mb-lg-0 border-bottom-0">
                    <a href="#" class="d-flex align-items-center text-hover">
                        <i class="icofont-ui-file"></i>
                        <p class="ms-1 title-font">REGISTER</p>
                    </a>
                </li>
                <li class="nav-item ms-lg-7 border-bottom-0">
                    <a href="login.html" class="d-flex align-items-center text-hover">
                        <i class="icofont-ui-user"></i>
                        <p class="ms-1 title-font">LOGIN</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>