<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>結帳付款 | 7TAO七逃</title>
</head>

<body>
    <header class="mb-7 mb-lg-12">
        <%- include('./layout/navbar'); -%>
    </header>
    <main>
        <!-- 流程圖示 -->
        <div class="container mb-11">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-lg-6 pay-state">
                    <ul
                        class="d-flex justify-content-between title-second-font text-center fw-bold position-relative mb-0">
                        <li>
                            <span
                                class="d-block fw-6 border border-1 border-primary px-3 px-lg-5 py-1 py-lg-2 mb-2 mx-3 mx-lg-2 fs-5 fs-lg-6 active">
                                <i class="icofont-verification-check fs-6"></i>
                            </span>
                            <p>訂單確認</p>
                        </li>
                        <li>
                            <span
                                class="d-block fw-6 border border-1 border-primary  px-4 px-lg-6 py-1 py-lg-2 mb-2 mx-3 mx-lg-2 fs-5 fs-lg-6 line active">2</span>
                            <p>結帳付款</p>
                        </li>
                        <li>
                            <span
                                class="d-block fw-6 border border-1 border-primary  px-4 px-lg-6 py-1 py-lg-2 mb-2 mx-3 mx-lg-2 fs-5 fs-lg-6">3</span>
                            <p>訂購結果</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 售票資訊 -->
        <div class="container mb-8 mb-lg-11">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-lg-6">
                    <h2 class="fs-4 fs-lg-3 fw-bold title-second-font text-md-center mb-5">返老還童-制服聯誼</h2>
                    <p
                        class="fs-9 fs-md-8 py-2 px-2 px-md-3 mx-lg-n5 text-secondary text-bg-primary order-reminder text-nowrap mb-8 text-center">
                        您的訂單已保留，請在2023/5/30 04:32 前完成繳費。<span class="d-block d-lg-inline-block">若逾期未繳款，系統將取消您的訂單。</span>
                    </p>
                    <table class="table">
                        <thead>
                            <tr class="border-bottom border-3 border-primary title-second-font fw-bold">
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="align-middle">
                                <th class="title-second-font p-5 p-md-0">訂單編號</th>
                                <td class="text-end">892746123</td>
                            </tr>
                            <tr class="align-middle">
                                <th class="title-second-font p-5 p-md-0">票券</th>
                                <td class="text-end">改頭換面票（含大改造）$8000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- 結帳資訊 -->
        <div class="container mb-11">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-lg-6">
                    <div class="text-center mb-5">
                        <img src="../assets/images/sparkler.png" alt="sparkler" class="pay-sparkler mb-5">
                        <h2 class="title-second-font fs-5 fw-bold">結帳資訊</h2>
                    </div>
                    <form action="#" id="paying-form" class="d-flex flex-column needs-validation" novalidate>
                        <label class="form-label mb-6">
                            <p class="d-block mb-1">取票資訊</p>
                            <input type="text" name="identityNumber" placeholder="請輸入身分證字號或護照號碼"
                                class="form-control bg-transparent" required />
                            <p class="text-hint">請輸入您的<span class="text-danger">身分證字號</span>供取票使用，外籍人士請輸入<span
                                    class="text-danger">護照號碼</span></p>
                        </label>
                        <p class="d-block mb-1">付款方式</p>
                        <div class="mb-7 mb-md-8">
                            <label class="form-label d-block">
                                <input type="radio" name="pay-method" class="form-check-input" value="credit-card"
                                    required />
                                <p class="ms-2 d-inline-block">信用卡</p>
                            </label>
                            <label class="form-label d-block">
                                <input type="radio" name="pay-method" class="form-check-input" value="atm" required />
                                <p class="ms-2 d-inline-block">ATM虛擬帳號</p>
                            </label>
                        </div>
                        <div class="col-12 col-md-10 col-xl-8 mx-auto">
                            <button type="submit" class="btn btn-primary d-block w-100 mb-2 fs-6 text-nowrap">
                                確認訂單並繳費 $8000
                                <i class="icofont-rounded-double-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <%- include('./layout/footer'); -%>
        <script>
            //跳轉 付款 -> 完成
            document.getElementById('paying-form').addEventListener('submit', function (event) {
                event.preventDefault();
                var identityNumber = document.getElementsByName('identityNumber')[0].value;
                if (identityNumber.trim() !== ''){
                    window.location.href = '../pages/pay-complete.html';
                }
            });
        </script>
</body>

</html>